body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
}
section{
    display: flex;
    padding-left: 5%;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    
}
p{
    color: dimgray;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.pro-level{
    color: rgb(240, 11, 60);
}
.baby-devolper{
    color: rgb(247, 19, 19);
}